@using LMS.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int StudentID = Convert.ToInt32(Session["StudentID"]);
    CMSEntities db = new CMSEntities();
    var Student = db.Students.Where(t => t.ID == StudentID).ToList();
    var Advisor = Student.FirstOrDefault().StudentsAdvisors.Where(t => t.ToDate == null).ToList();
    var AdvisorPhoto = Advisor?.FirstOrDefault()?.EmpForm?.Photo ?? null;
    var Supervisor = Student.FirstOrDefault().StudentsSupervisors.Where(t => t.ToDate == null).ToList();
    var SupervisorPhoto = Supervisor?.FirstOrDefault()?.EmpForm?.Photo ?? null;
}
<style>
    /* Define the CSS for the icon boxes */
    .icon-box {
        position: relative;
        text-align: center;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        transition: transform 0.2s ease, box-shadow 0.3s ease; /* Add transform transition */
    }

        .icon-box:hover {
            background-color: #333;
            color: #fff;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow size on hover */
            transform: translateY(-5px); /* Move the box up slightly on hover */
        }

        .icon-box img {
            display: block;
            margin: 0 auto;
        }

        .icon-box p {
            margin-top: 10px;
            line-height: 1.3;
        }
</style>


<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-dashboard dasboard-icon"></i>
                    <a href="@Url.Action("Index","MyDashboard")">My Dashboard</a>
                </li>
            </ul><!-- /.breadcrumb -->

            <span class="pull-right blue">(@Student.FirstOrDefault().ProgramOffered.BatchTitle)&nbsp;&nbsp;</span>
            <span class="pull-right"><span class="text-black">Program: </span><span class="brown">
                                      @Student.FirstOrDefault().ProgramOffered.DepartmentProgram.Program.ProgramTitle&nbsp;&nbsp;
                   </span></span>
            <span class="pull-right">RegNo: <span class="brown">@Student.FirstOrDefault().RegNo&nbsp;&nbsp;</span></span>


        </div>


        <div class="page-content">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="@Url.Action("UpdateProfile", "StudentProfile", new { Area = "StudentAccount" })">
                        <div class="icon-box">
                            <img src="~/Content/Icons/myprofile.png" alt="My Profile">
                            <p>PROFILE</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="@Url.Action("AllCourses","MyCourses", new { area = "Courses"})">
                        <div class="icon-box">
                            <img src="~/Content/Icons/courses.png" alt="Courses">
                            <p>COURSES</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="@Url.Action("AllFee","MyFees", new { area = "Fees"})">
                        <div class="icon-box">
                            <img src="~/Content/Icons/payment.png" alt="Courses">
                            <p>FEE PAYMENTS</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/assignment.png" alt="Assignment">
                            <p>ASSIGNMENTS</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/attendance1.png" alt="Attendance">
                            <p>ATTENDANCE</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/notice-board.png" alt="NoticeBoard">
                            <p>NOTICE BOARD</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            @if (AdvisorPhoto == null)
                            {
                                <img src="~/Content/Icons/Advisor.png" alt="Advisor">
                                <p>ADVISOR <small class="red">Not Assigned</small></p>
                            }
                            else if (AdvisorPhoto != null && AdvisorPhoto.Any())
                            {

                                <img class="nav-user-photo"
                                     src="data:image/jpeg;base64,@(Convert.ToBase64String(AdvisorPhoto))"
                                     width="70"
                                     height="70"
                                     style="border-radius: 5%;" />

                                <p>ADVISOR @Advisor.FirstOrDefault().EmpForm.Title.Title1  @Advisor.FirstOrDefault().EmpForm.Name</p>
                            }

                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            @if (SupervisorPhoto == null)
                            {
                                <img src="~/Content/Icons/Supervisor.png" alt="Supervisor">

                                <p>SUPERVISOR <small class="red">Not Assigned</small></p>
                            }
                            else if (SupervisorPhoto != null && SupervisorPhoto.Any())
                            {

                                <img class="nav-user-photo"
                                     src="data:image/jpeg;base64,@(Convert.ToBase64String(SupervisorPhoto))"
                                     width="70"
                                     height="70"
                                     style="border-radius: 5%;" />
                                <p>SUPERVISOR @Supervisor.FirstOrDefault().EmpForm.Title.Title1 &nbsp; @Supervisor.FirstOrDefault().EmpForm.Name</p>
                            }
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/Project.png" alt="Project">
                            <p>PROJECT</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/degree.png" alt="Project">
                            <p>TRANSCRIPT & DEGREE </p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/library.png" alt="Project">
                            <p>LIBRARY</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/awards.png" alt="Project">
                            <p>AWARDSS</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <a href="#">
                        <div class="icon-box">
                            <img src="~/Content/Icons/society.png" alt="Project">
                            <p>SOCIETY</p>
                        </div>
                    </a>
                </div>

            </div>
        </div>




    </div>
</div><!-- /.main-content -->

