@model LMS.Models.Student

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <h3 class="header smaller lighter blue">Change your password.</h3>

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Please do not share your password with anyone.</h4>

            </div>

            <div class="widget-body">
                <div class="widget-main">

                    <strong class="text-success bigger-150">@TempData["Success"]</strong>
                    <strong class="text-danger bigger-150">@TempData["Failed"]</strong>

                    

                    @using (Html.BeginForm("ChangePassword", "StudentProfile", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group" style="margin-right: 15px;">
                            @Html.Label("Old Password:")
                            @Html.TextBox("OldPassword", TempData["OldPassword"], new { @class = "form-control", placeholder = "Old Password", required = "required" })
                        </div>

                        <div class="form-group" style="margin-right: 15px;">
                            @Html.Label("New Password:")
                            @Html.TextBox("NewPassword", TempData["NewPassword"], new { @class = "form-control", placeholder = "New Password", required = "required" })
                        </div>

                        <div class="form-group" style="margin-right: 15px;">
                            @Html.Label("Confirm Password:")
                            @Html.TextBox("ConfirmPassword", TempData["ConfirmPassword"], new { @class = "form-control", placeholder = "Confirm Password", required = "required" })
                        </div>

                        <button type="submit" class="btn btn-info btn-sm">
                            <i class="ace-icon fa fa-save bigger-110"></i>Change Password
                        </button>
                    }



                    <span style="display:none;" class="spinner">
                        <i class="ace-icon fa fa-spinner fa-spin blue bigger-300"></i>
                        <strong class="blue bigger-250">Please wait...</strong>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>
