@model IEnumerable<LMS.Models.StudentCours>
@using LMS.Models;
@{
    ViewBag.Title = "AllCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CMSEntities db = new CMSEntities();
    //check if surveys have been initiated.
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-dashboard"></i>
            <a href="@Url.Action("Index","MyDashboard", new { area =""})">Dashboard</a>
        </li>
        <li class="active">My Courses</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="page-header">
                <h1>
                    <a href="@Url.Action("Index","MyDashboard", new { area =""})" title="Back"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                    |
                    My Courses
                    <a href="@Url.Action("ApplyCourses","MyCourses", new { area ="Courses"})" class="btn btn-inverse btn-xs pull-right" title="Register Course">New Course <i class="fa fa-arrow-circle-o-right"></i> </a>
                </h1>
            </div>
            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <h1 class="text-danger">@ViewBag.Error</h1>
            @Html.Raw(TempData["Sucess"])
            @Html.Raw(TempData["Failed"])
            <div>
                @foreach (var session in Model.GroupBy(t => t.SessionID))
                {

                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-flat">
                            <h5 class="widget-title lighter">
                                <i class="ace-icon fa fa-book orange"></i>
                                @session.Select(t => t.Session.Session1).First() Registered Courses <span style="color:darkgreen"> @session.Sum(t => t.Course.CrHr).ToString()CrHr</span> @session.Sum(t => t.Course.ContHr).ToString()CnHr

                            </h5>

                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body" style="display: block;">
                            <div class="widget-main no-padding" style="overflow-y: scroll;">
                                <table class="table table-bordered table-striped">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <th width="5%">S#</th>
                                            <th width="10%">
                                                Course Code
                                            </th>
                                            <th width="20%">Course Title</th>
                                            <th width="5%">Cr Hrs.</th>
                                            <th width="10%">Section</th>
                                            <th width="30%">Instructor</th>
                                            <th width="10%">Status</th>
                                            <td width="10%">Actions</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{ int sno = 1;}
                                        @foreach (var item in Model.Where(t => t.SessionID == session.Key))
                                        {
                                            var teacherCourse = db.TeacherCourses.Where(t => t.SessionID == item.SessionID && t.Section == item.Section
                                            && t.CourseID == item.CourseID && t.IsWithdraw != true).ToList();
                                           // var teachers = string.Join("<br />", teacherCourse.Select(t => t.EmpForm.Title.Title1 + t.EmpForm.Name));
                                            <tr>
                                                <td>@sno</td>
                                                <td>@Html.DisplayFor(modelItem => item.Course.Code)</td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Course.Title)
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.Course.CrHr)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Section)</td>
                                                <td>@*@Html.Raw(teachers)*@
                                                @foreach(var teacherC in teacherCourse)
                                                {
                                                    <span>@teacherC.EmpForm.Title.Title1 @teacherC.EmpForm.Name</span>
                                                    <span>
                                                        @using (Html.BeginForm("TeacherSurvey", "Survey", FormMethod.Post, new { @class = "TeacherSrvyform" }))
                                                        {
                                                            <input type="hidden" name="SessionID" value="@item.SessionID" />
                                                            <input type="hidden" name="CourseID" value="@item.CourseID" />
                                                            <input type="hidden" name="stdCourseID" value="@item.ID" />
                                                            <input type="hidden" name="TeacherCourseID" value="@teacherC.ID" />
                                                            <input type="hidden" name="TeacherName" value="@teacherC.EmpForm.Title.Title1 @teacherC.EmpForm.Name" />
                                                            <input type="submit" value="Submit" style="display:none">
                                                        }
                                                        <a href="#" class="TeacherSurveyCourseLink" title="Instructor Survey"><i class="fa fa-paper-plane"></i>Instructor Survey (FeedBack)</a>
                                                    </span>
                                                <br />
                                                }
                                                </td>
                                                <td>
                                                    @if (item.IsWithdraw == false && item.IsDropped == false)
                                                    {
                                                        <span class="label label-white label-success middle">Active</span>
                                                    }
                                                    @if (item.IsDropped == true)
                                                    {
                                                        <span class="label label-white label-danger middle">Dropped</span>
                                                    }
                                                    @if (item.IsWithdraw == true)
                                                    {
                                                        <span class="label label-white label-info middle">Withdrawn</span>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle">
                                                            Actions
                                                            <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-info dropdown-menu-right">

                                                            <li>
                                                                @using (Html.BeginForm("GetCourseAttendance", "MyCourses", FormMethod.Post, new { @class = "GetCourseAttendanceform" }))
                                                                {
                                                                    <input type="hidden" name="SessionID" value="@item.SessionID" />
                                                                    <input type="hidden" name="CourseID" value="@item.CourseID" />
                                                                    <input type="hidden" name="Section" value="@item.Section" />
                                                                    <input type="hidden" name="TeacherCourseID" value="@(teacherCourse.FirstOrDefault()?.ID)" />
                                                                    <input type="submit" value="Submit" style="display:none">
                                                                }
                                                                <a href="#" class="GetCourseAttendanceLink" title="Course Attendance"><i class="fa fa-calendar-times-o"></i>Attendance Record</a>
                                                            </li>
                                                            <li>
                                                                @using (Html.BeginForm("GetCourseCard", "MyCourses", FormMethod.Post, new { @class = "GetCourseCardform" }))
                                                                {
                                                                    <input type="hidden" name="SessionID" value="@item.SessionID" />
                                                                    <input type="hidden" name="CourseID" value="@item.CourseID" />
                                                                    <input type="hidden" name="Section" value="@item.Section" />
                                                                    <input type="hidden" name="TeacherCourseID" value="@(teacherCourse.FirstOrDefault()?.ID)" />
                                                                    <input type="submit" value="Submit" style="display:none">
                                                                }
                                                                <a href="#" class="GetCourseCardLink" title="Course Card"><i class="fa fa-credit-card-alt"></i>Course Card</a>
                                                            </li>
                                                            <li>
                                                                @using (Html.BeginForm("CourseSurvey", "Survey", FormMethod.Post, new { @class = "CourseSrvyform" }))
                                                                {
                                                                    <input type="hidden" name="SessionID" value="@item.SessionID" />
                                                                    <input type="hidden" name="CourseID" value="@item.CourseID" />
                                                                    <input type="hidden" name="stdCourseID" value="@item.ID" />
                                                                    <input type="hidden" name="TeacherCourseID" value="@(teacherCourse.FirstOrDefault()?.ID)" />
                                                                    <input type="submit" value="Submit" style="display:none">
                                                                }
                                                                <a href="#" class="CourseSurveyCourseLink" title="Survey Course"><i class="fa fa-paper-plane"></i>Course Survey</a>
                                                            </li>

                                                            <li class="divider">

                                                            </li>
                                                            <li>
                                                                @using (Html.BeginForm("DropCourse", "MyCourses", FormMethod.Post, new { @class = "dropform" }))
                                                                {
                                                                    <input type="hidden" name="SessionID" value="@item.SessionID" />
                                                                    <input type="hidden" name="CourseID" value="@item.CourseID" />
                                                                    <input type="submit" value="Submit" style="display:none">
                                                                }
                                                                <a href="#" class="dropCourseLink" title="Drop this course"><i class="fa fa-trash-o"></i> Drop this course</a>
                                                            </li>

                                                            <li>
                                                                @using (Html.BeginForm("WithDrawCourse", "MyCourses", FormMethod.Post, new { @class = "withdrawform" }))
                                                                {
                                                                    <input type="hidden" name="SessionID" value="@item.SessionID" />
                                                                    <input type="hidden" name="CourseID" value="@item.CourseID" />
                                                                    <input type="submit" value="Submit" style="display:none">

                                                                }
                                                                <a href="#" class="withdrawCourseLink" title="Widraw this course"><i class="fa fa-remove"></i> Widraw this course</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            sno++;
                                        }
                                    </tbody>
                                </table>
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div>
                }
            </div>

        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.page-content -->
<script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>
<script>
    
    $(document).on("click", ".GetCourseAttendanceLink", function (e) {
        // var Okay = confirm("Are you sure you want to drop this course?");
        if (true) {
            e.preventDefault();
            $(this).prev(".GetCourseAttendanceform").submit();
        }
    });
    $(document).on("click", ".GetCourseCardLink", function (e) {
        // var Okay = confirm("Are you sure you want to drop this course?");
        if (true) {
            e.preventDefault();
            $(this).prev(".GetCourseCardform").submit();
        }
    });
    $(document).on("click", ".CourseSurveyCourseLink", function (e) {
       // var Okay = confirm("Are you sure you want to drop this course?");
        if (true) {
            e.preventDefault();
            $(this).prev(".CourseSrvyform").submit();
        }
    });

    $(document).on("click", ".TeacherSurveyCourseLink", function (e) {
        //var Okay = confirm("Are you sure you want to drop this course?");
        if (true) {
            e.preventDefault();
            $(this).prev(".TeacherSrvyform").submit();
        }
    });


    $(document).on("click", ".dropCourseLink", function (e) {
        var Okay = confirm("Are you sure you want to drop this course?");
        if (Okay) {
            e.preventDefault();
            $(this).prev(".dropform").submit();
        }
    });

    $(document).on("click", ".withdrawCourseLink", function (e) {
        var Okay = confirm("Are you sure you want to withdraw this course?");
        if (Okay) {
            e.preventDefault();
            $(this).prev(".withdrawform").submit();
        }
    });

</script>