@model IEnumerable<LMS.Models.StudentFee>
@{
    ViewBag.Title = "AllFee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-dashboard"></i>
            <a href="@Url.Action("Index","MyDashboard", new { area =""})">Dashboard</a>
        </li>
        <li class="active">My Fee Record</li>
    </ul><!-- /.breadcrumb -->
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="page-header">
                <h1>
                    <a href="@Url.Action("Index","MyDashboard", new { area =""})" title="Back"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
                    |
                    My Fee Record
                </h1>
            </div>
            <!-- div.table-responsive -->
            <!-- div.dataTables_borderWrap -->
            <h1 class="text-danger">@ViewBag.Error</h1>
            @Html.Raw(TempData["Sucess"])
            @Html.Raw(TempData["Failed"])
            <div>
                @foreach (var session in Model.GroupBy(t => t.SessionID))
                {
                    var SessionDet = session.Select(t => t.Session.Session1).First();

                    <div class="widget-box transparent">
                        <div class="widget-header widget-header-flat">
                            <h5 class="widget-title lighter">
                                <i class="ace-icon fa fa-money orange"></i>
                                @SessionDet Fee Records.
                            </h5>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body" style="display: block;">
                            <div class="widget-main no-padding" style="overflow-y: scroll;">

                                <strong>The following vouchers have been created for the @(session.Select(t => t.Session.Session1).First()).</strong>
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th width="10%">Voucher No</th>
                                        <th>Action</th>
                                    </tr>

                                    @foreach (var voucherGroup in session.GroupBy(t => t.VoucherNo))
                                    {
                                        var VoucherDet = voucherGroup.Select(t => t.Student.ProgramOffered.DepartmentProgram.Program.ProgramLevel.ShortAlpha).First() +
                                            session.Select(t => t.Session.ShortAlpha).First() + "-" + voucherGroup.Key;

                                        <tr>
                                            <td>
                                                @VoucherDet
                                            </td>
                                            <td>
                                                @if (voucherGroup.Any(t => t.IsPaid) == true)
                                                {
                                                    <span class="label label-white label-success middle">Paid</span>

                                                    if (voucherGroup.Any(t => t.IsVerified) == true)
                                                    {
                                                        <span class="label label-white label-success middle"><i class="fa fa-check-circle-o"></i> Verified</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-white label-danger middle"><i class="fa fa-times-circle-o"></i> Not Verified</span>
                                                    }

                                                }
                                                else
                                                {
                                                    using (Html.BeginForm("PrintVoucher", "MyFees", FormMethod.Post, new { target = "_blank" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <input type="hidden" name="SessionID" value="@session.Key" />
                                                        <input type="hidden" name="VoucherNo" value="@voucherGroup.Key" />
                                                        <button type="submit" class="btn btn-info btn-minier" title="Print"><i class="fa fa-print"></i> Print</button>
                                                        <a href="#" data-toggle="modal" data-target="#myModal" onclick="PayNow(@voucherGroup.Key,'@VoucherDet','@SessionDet')" class="btn btn-minier btn-success" title="Upload"><i class="fa fa-upload"></i> Upload</a>

                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                                <hr />
                                <strong>The following vouchers details...</strong>

                                <table class="table table-bordered table-striped">
                                    <thead class="thin-border-bottom">
                                        <tr>
                                            <th width="5%">S#</th>
                                            <th width="10%">
                                                Fee Head
                                            </th>
                                            <th width="10%">
                                                Amount
                                            </th>
                                            <th width="5%">Date of Payment</th>
                                            <th width="5%">Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{ int sno = 1;}
                                        @foreach (var item in Model.Where(t => t.SessionID == session.Key))
                                        {
                                            <tr>
                                                <td>@sno</td>
                                                <td>@Html.DisplayFor(modelItem => item.FeeHead.HeadName)</td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Amount)
                                                </td>
                                                <td>
                                                    @String.Format("{0:dd-MMM-yyyy}", item.PaymentDate)
                                                </td>
                                                <td>
                                                    @if (item.IsPaid == true)
                                                    {
                                                        <span class="label label-white label-success middle">Paid</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-white label-info middle">Pending</span>
                                                    }
                                                    @if (item.IsVerified == true)
                                                    {
                                                        <span class="label label-white label-success middle"><i class="fa fa-check-circle-o"></i> Verified</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-white label-danger middle"><i class="fa fa-times-circle-o"></i> Not Verified</span>
                                                    }
                                                </td>
                                            </tr>
                                            sno++;
                                        }
                                    </tbody>
                                </table>
                            </div><!-- /.widget-main -->
                        </div><!-- /.widget-body -->
                    </div>
                }
            </div>

        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.page-content -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="lighter blue">Please make your payment against the <strong class="SessionDet"></strong> session with Voucher No: <strong class="VoucherDet"></strong></h5>                
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("UploadFee", "MyFees", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" class="input-large" id="VoucherNo" name="VoucherNo" />

                    <div class="form-group">

                        <label class="col-md-3 control-label no-padding-right" for="form-field-1"> Upload Bank Voucher <strong class="text-danger">* </strong> </label>

                        <div class="col-md-6">
                            <div id="msg" class="text-danger"></div>
                            <strong class="text-danger">
                                @Html.ValidationMessage("Picture")
                            </strong>
                            <input type="file" class="col-md-4 VoucherFile" name="file" id="id-input-file-2" accept="image/*" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label no-padding-right" for="form-field-1"> Bank Voucher No <strong class="text-danger"> *</strong></label>

                        <div class="col-md-9">
                            <input type="text" class="input-large" placeholder="Bank Voucher No." name="BankVoucherNo" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Branch Code <strong class="text-danger"> *</strong></label>

                        <div class="col-sm-9">
                            <input type="text" class="input-large" placeholder="Branch Code." name="BranchCode" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Bank Name <strong class="text-danger"> *</strong></label>

                        <div class="col-sm-9">
                            <input type="text" class="input-large" placeholder="Bank Name." name="BankName" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Bank Branch <strong class="text-danger"> *</strong></label>

                        <div class="col-sm-9">
                            <input type="text" class="input-large" placeholder="Branch Name." name="BankBranch" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Payment Date <strong class="text-danger"> *</strong></label>

                        <div class="col-sm-9">
                            <input type="date" class="input-large" placeholder="Branch Name." name="PaymentDate" required>
                        </div>
                    </div>


                    <div class="clearfix form-actions">
                        <div class="col-md-offset-4 col-md-12">
                            <button class="btn btn-success" type="submit" title="Submit Voucher Details">
                                <i class="ace-icon fa fa-check-circle-o bigger-110"></i>
                                Submit
                            </button>

                            <button type="button" class="btn btn-default" data-dismiss="modal" title="Close"><i class="ace-icon fa fa-times-circle-o bigger-110"></i> Close</button>
                        </div>
                    </div>

                }
            </div>
        </div>

    </div>
</div>

<script>
    function PayNow(VoucherNo, VoucherDet, SessionDet) {        
        $("#VoucherNo").val(VoucherNo);
        $(".VoucherDet").html(VoucherDet);
        $(".SessionDet").html(SessionDet);
    }
</script>